version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres_user
      POSTGRES_PASSWORD: postgres_pass
      POSTGRES_DB: empresa
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: fastapi
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"